@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Playfair Display', serif;
}

header {
  background-color: var(--white);
  padding: 20px;
  text-align: center;
}

.profile-section {
  padding: 20px;
}

.profile-info {
  margin: 0 auto;
}

.field {
  margin-bottom: 15px;
}

.field-label {
  display: block;
  font-weight: 700;
}

.field-value {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
}

.footer-text {
  color: var(--black-60);
}
