@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700,400");

:root {
  --white: rgba(248, 248, 248, 1);
  --black-20: rgba(148, 148, 148, 1);
  --dark-grey: rgba(48, 48, 48, 1);
  --grey-2: rgba(217, 217, 217, 1);
  --black-80: rgba(18, 18, 33, 1);
  --grey-3: rgba(172, 172, 172, 1);
  --grey-1: rgba(240, 240, 240, 1);
}

.container-center {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.register-investor-types {
  overflow: hidden;
  width: 1440px;
  height: 1043px;
  position: relative;
}

.investor-type {
  width: 80%;   
  padding: 6px;   
  font-size: 20px;  
  border: 1px solid var(--grey-3);
  border-radius: 5px;
  background-color: var(--white);
  color: var(--black-80);
}

.menu {
  position: absolute;
  top: 32px;
  left: 125px;
}

.logo {
  width: 109px;
  gap: 10px;
  padding: 7.5px;
  background-color: var(--black-80);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  position: relative;
  font-family: "Playfair Display", Helvetica, serif;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  line-height: normal;
}

.dropdown {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 8px;
  left: 1157px;
}

/* Estilo geral */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Container centralizado */
.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: justify;
}

/* Cabeçalho */
h1 {
  font-size: 64px;
  font-family: "Playfair Display";
  font-weight: bold;
  color: #222;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 80px;
  margin-left: 20px;
}


/* Parágrafos */
p {
  font-family: "Playfair Display";
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

/* Rodapé */
footer {
  font-size: 14px;
  color: #888;
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #ddd;
  padding: 20px;
}

.footer-background {
  position: absolute;
  width: 100%;   
  height: 83px;
  top: 960px;   
  left: 0;     
  background-color: var(--white);
}

.footer-text {
  position: absolute;
  top: 30px;
  left: 0;        
  width: 100%;     
  font-family: "Playfair Display", Helvetica, serif;
  font-weight: 700;
  color: var(--black-20);
  font-size: 16px;
  text-align: center;  
  letter-spacing: 0;
  line-height: normal;
}
