/* Reset básico e estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para o Cabeçalho e Navbar */
header {
  background-color: #589c68;
  padding: 15px 0;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo-image {
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  object-fit: cover;
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo-text {
  color: white;
  font-size: 80px;
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

/* Outros estilos para o Navbar */
.navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}

.navbar .nav-list li {
  margin-left: 20px;
  position: relative;
}

.navbar .nav-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.navbar .nav-list a:hover,
.navbar .nav-list .active {
  background-color: #218838;
  border-radius: 5px;
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .logo-image {
    width: 60px;
    height: 60px; 
  }

  .navbar .logo-text {
    font-size: 40px; 
    margin-left: 10px;
  }

  .navbar .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .nav-list li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .navbar .nav-list a {
    font-size: 14px;
    padding: 6px 10px; 
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .navbar .logo-image {
    width: 70px;
    height: 70px; 
  }

  .navbar .logo-text {
    font-size: 60px;
  }

  .navbar .nav-list a {
    font-size: 15px;
    padding: 7px 12px;
  }
}

/* Estilos para o menu dropdown de Acessibilidade */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #589c68; 
  min-width: 200px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  padding: 10px 0;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: #218838; 
}

/* Estilos para o dropdown de Alterar Linguagem */
.language-selector {
  position: relative;
  display: inline-block; 
}

.language-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.language-toggle .flag-icon {
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent; 
  border: none;
  margin: 0;
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent; 
  padding: 0;
  margin: 0;
  z-index: 1000;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.language-dropdown li {
  padding: 0;
  margin: 0;
  text-align: center;
}

.language-dropdown li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0; 
  border: none; 
}

.language-dropdown li a .flag-icon {
  width: 32px; 
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent; 
  border: none;
  margin: 0; 
}

.language-selector:hover .language-dropdown {
  display: block; 
}

/* Estilos para o rodapé */
footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; 
}

footer .footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap; 
}

footer .footer-links li {
  margin: 0 10px;
  padding: 5px 0; 
}

footer .footer-links a {
  color: white;
  text-decoration: none;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
  footer .footer-links {
    flex-direction: column; 
  }

  footer .footer-links li {
    margin: 5px 0; 
  }
}

/* Estilo da barra de pesquisa */
.form-control {
  border: 1px solid #ced4da; 
  border-radius: 0.25rem; 
  padding: 10px; 
  width: 250px; 
}

.form-control:focus {
  border-color: #80bdff; 
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}

.btn-outline-success {
  margin-left: 10px; 
  border-radius: 0.25rem; 
}
.btn-procurar {
  background-color: transparent; 
  color: white; 
  border: 1px solid white; 
  border-radius: 5px; 
  padding: 8px 15px; 
  transition: background-color 0.3s ease; 
  cursor: pointer; 
}

.btn-procurar:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}

/* Estilos adicionais para remover bordas e fundos indesejados */
.language-dropdown, .language-dropdown li, .language-dropdown li a {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: none !important;
}

/* Estilos para o contêiner do mapa */
.map-container {
  padding: 10px; 
}

/* Altura do mapa */
#map {
  height: calc(100vh - 200px); 
  width: 100%; 
  margin-top: 54px; 
}

.filter-container {
  margin-bottom: 15px; 
}

.login-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #589c68; 
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #45a049; 
}

.login-button svg {
  margin-right: 8px; 
}

.toggle-container {
  display: flex; 
  align-items: center; 
  margin: 10px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px; 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; 
  transition: .4s;
  border-radius: 34px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white; 
  transition: .4s;
  border-radius: 50%;
}

/* O que acontece quando o toggle está ativo */
input:checked + .slider {
  background-color: #4CAF50; 
}

input:checked + .slider:before {
  transform: translateX(26px); 
}

/* Estilos para o contêiner do mapa */
.map-container {
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}

/* Estilos para os filtros */
h2 {
  color: #333; 
  margin-bottom: 10px; 
}

#material-filter {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ced4da; 
  border-radius: 5px; 
  margin-bottom: 15px; 
}

#filter-button {
  background-color: #589c68; 
  color: white; 
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

#filter-button:hover {
  background-color: #45a049; 
}

/* Estilos para o toggle */
.toggle-container {
  display: flex; 
  align-items: center; 
  margin: 20px 0; 
}

.toggle-container h2 {
  margin-right: 10px; 
  color: #333; 
}

/* Estilos para o mapa */
#map {
  height: calc(100vh - 250px); 
  border-radius: 8px; 
}

/* Estilo do botão "Como Chegar" (se houver) */
.btn-directions {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 8px 12px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.btn-directions:hover {
  background-color: #45a049; 
}

.section-header {
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px;
}

h4 {
  text-align: center;
  margin-top: 10%; 
  padding-top: 2%;
}

.container-main {
  width: 35%;
  height: 400px;
  background: #d3d3d3;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.grid-checkbox {
  display: flex; 
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.grid-checkbox > div {
  text-align: left; 
}

.caixa-texto {
  margin: 0 auto;
  position: relative;
  width: 60%;
  margin-top: 20px;
}

.caixa-texto > textarea {
  width: 100%; 
  height: 120px;
}

.container-main > button {
  margin: 0 auto;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-cc {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.navbar-cc a {
  float: none; 
  display: inline-block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar-cc a:hover {
  background-color: #ddd;
  color: black;
}

.navbar-cc a.active {
  background-color: #589c68;
  color: white;
}

/* Responsividade */
@media screen and (max-width: 600px) {
  .navbar-cc a {
    float: none;
    width: 100%;
  }

  .container-main {
    width: 90%;
    height: auto;
  }

  .caixa-texto {
    width: 90%;
  }
}

/* Reset básico e estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #589c68;
  padding: 15px 0;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .logo-text {
  color: white;
  font-size: 80px;
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar .nav-list li {
  margin-left: 20px;
}

.navbar .nav-list a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
}

.navbar .nav-list a:hover,
.navbar .nav-list .active {
  background-color: #218838;
  border-radius: 5px;
}

/* Estilos para o dropdown de Acessibilidade */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #589c68;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  padding: 10px 0;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 15px;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: #218838;
}

/* Estilos para o dropdown de Alterar Linguagem */
.language-selector {
  position: relative;
  display: inline-block;
}

.language-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.language-toggle .flag-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
  border: none;
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  padding: 0;
  margin: 0;
  z-index: 1000;
  list-style: none;
  border-radius: 5px;
}

.language-dropdown li {
  padding: 0;
  margin: 0;
  text-align: center;
}

.language-dropdown li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  border: none;
}

.language-dropdown li a .flag-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  background-color: transparent;
  border: none;
}

.language-selector:hover .language-dropdown {
  display: block;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
}

footer .footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

footer .footer-links li {
  margin: 0 10px;
}

footer .footer-links a {
  color: white;
  text-decoration: none;
}

footer .footer-links a:hover {
  text-decoration: underline;
}

/* Barra de pesquisa */
.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 10px;
  width: 250px;
}

.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-outline-success {
  margin-left: 10px;
  border-radius: 0.25rem;
}

.btn-procurar {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-procurar:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.language-dropdown, .language-dropdown li, .language-dropdown li a {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  background: none !important;
}

.map-container {
  padding: 10px;
}

#map {
  height: calc(100vh - 200px);
  width: 100%;
  margin-top: 54px;
}

.filter-container {
  margin-bottom: 15px;
}

.login-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #589c68;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button svg {
  margin-right: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

header {
  background-color: #589c68;
  padding: 20px 0;
}

.navbar .menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-list li a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

.navbar .login-button {
  background-color: #589c68;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .login-button:hover {
  background-color: #555;
}

/* Estilos da seção de formulário */
.section-header {
  background-color: #d3d3d3;
  text-align: center;
  padding: 20px;
}

/* Estilizando a div form-container */
.form-container {
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 40px; 
  max-width: 800px; 
  margin: 20px auto; 
  border: 1px solid #e0e0e0; 
}

/* Estilizando os inputs */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea {
  width: 100%; 
  padding: 15px; 
  margin: 15px 0; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  font-size: 18px; 
}

/* Estilizando o botão */
.form-container button {
  background-color: #28a745; 
  color: white; 
  padding: 15px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 20px; 
  width: 100%; 
  margin-top: 25px; 
}

.form-container button:hover {
  background-color: #218838; 
}

/* Ajustes para responsividade */
@media screen and (max-width: 768px) {
  .form-container {
      width: 90%; 
      padding: 20px; 
  }
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.checkbox-group label {
  font-weight: normal;
  margin-left: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #218838;
}

/* Rodapé */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  line-height: 1.6;
}

.header-section {
  background-color: #589c68;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.header-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cta-buttons a {
  padding: 15px 30px;
  background-color: white;
  color: #589c68;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
}

.cta-buttons a:hover {
  background-color: #f0f0f0;
}

.scroll-indicator {
  text-align: center;
  font-size: 2em;
  padding: 10px 0;
  color: #589c68;
}

.steps-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.step {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
}

.step-number {
  background-color: #589c68;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.step-content {
  max-width: 700px;
}

.step-content h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.step-content p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.step-content ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1.1em;
}

footer {
  position: relative; 
  padding: 20px 0;
  background-color: #222;
  color: white;
  text-align: center;
  margin-top: 20px; 
}




.botoes {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 40px; 
  gap: 20px; 
}

.btn-venda, .btn-compra {
  padding: 12px 30px; 
  font-size: 16px; 
  font-weight: bold; 
  color: white; 
  background-color: #589c68; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn-venda:hover, .btn-compra:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.btn-venda:active, .btn-compra:active {
  background-color: #3b8b3e;
  transform: scale(0.98);
}

.steps-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 20px;
}

.step {
  display: flex;
  width: 80%;
  margin-bottom: 40px;
  position: relative;
}

.step:nth-child(odd) {
  justify-content: flex-start; 
}

.step:nth-child(even) {
  justify-content: flex-end; 
}

.step-number {
  background-color: #589c68;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.step-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  position: relative;
  z-index: 1;
}

.steps-section:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #ccc;
  z-index: 0;
}

/* Responsividade para telas pequenas */
@media screen and (max-width: 768px) {
  .step {
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      width: 100%;
  }

  .step:nth-child(odd),
  .step:nth-child(even) {
      justify-content: center; 
  }

  .steps-section:before {
      display: none; 
  }
}

