@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700,400|Roboto:400");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --white: rgba(248, 248, 248, 1);
  --black-60: rgba(68, 68, 68, 1);
  --black-80: rgba(18, 18, 33, 1);
}

.asset-page-desktop .text-wrapper-4 {
  position: absolute;
  top: 3000px;
  left: 614px;
  font-family: "Playfair Display", Helvetica, serif;
  font-weight: 700;
  color: var(--black-60);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.asset-page-desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.asset-page-desktop .div {
  background-color: #ffffff;
  width: 1440px;
  height: 3125px;
  position: relative;
}

.asset-page-desktop .hero {
  position: absolute;
  width: 1183px;
  height: 546px;
  top: 111px;
  left: 129px;
}

.asset-page-desktop .overlap-group {
  position: relative;
  width: 1181px;
  height: 546px;
  background-image: url(./img/swimmer.svg);
  background-size: 100% 100%;
}

.asset-page-desktop .rectangle {
  width: 1181px;
  height: 546px;
  top: 0;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  position: absolute;
  left: 0;
}

.asset-page-desktop .text-wrapper {
  position: absolute;
  width: 737px;
  top: 330px;
  left: 33px;
  font-family: "Playfair Display", Helvetica, serif;
  font-weight: 700;
  color: var(--white);
  font-size: 48px;
  letter-spacing: 0;
  line-height: 72px;
}

.asset-page-desktop .text-wrapper-2 {
  position: absolute;
  top: 610px;
  left: 165px;
  font-family: "Roboto", Helvetica, serif;
  font-weight: 400;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.asset-page-desktop .lorem-ipsum-odor {
  position: absolute;
  width: 1181px;
  top: 736px;
  left: 134px;
  font-family: "Playfair Display", Helvetica, serif;
  font-weight: 400;
  color: var(--black-60);
  font-size: 26px;
  letter-spacing: 0;
  line-height: 65px;
}

.asset-page-desktop .nav {
  position: absolute;
  width: 1180px;
  height: 37px;
  top: 32px;
  left: 125px;
}

.asset-page-desktop .frame {
  display: flex;
  width: 109px;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--black-80);
  border-radius: 4px;
}

.asset-page-desktop .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -1px;
  font-family: "Playfair Display", Helvetica, serif;
  font-weight: 700;
  color: var(--white);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.asset-page-desktop .union {
  position: absolute;
  width: 23px;
  height: 21px;
  top: 8px;
  left: 1157px;
}

.asset-page-desktop .rectangle-2 {
  width: 1440px;
  height: 83px;
  top: 3042px;
  background-color: var(--white);
  position: absolute;
  left: 0;
}
