 /* ----------------INDEX 320PX--------------------- */
body{
    height: max-content;
}

nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

h2{
    margin-block-start: 0px;
    margin-block-end: 0px;  
}

footer{
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    color: #949494;
    padding-top: 32px;
    padding-bottom: 32px;
}

.logoNav {
    background-color: #000000   ;
    color: #f8f8f8;
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
}


p{
    margin: 0;
}

.hotNews {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
   
}
.titleSectionHotNews {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 16px;

}
.cardInfoHotNews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cardHotNews {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 305px;
    height: 200px;
    background-image: url('https://investimentocerto.one/wp-content/uploads/2023/05/janeiro-850x550.webp');
    border-radius: 8px;
    background-size: cover;
}

.titleCardHotNews {
    color: black;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 26px;
}

.fontCardHotNews {
    display: none;
}


.lastestNews {
    margin-bottom: 35px;
}

.titleSectionLatestNews {
    font-size: 36px;
    font-family: Playfair Display;
    margin-bottom: 16px;
}

.cardLatestNews {
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
    width: 100%;
    
}



.cardsGroupLatestNews.intermediario .intermediario {
  display: flex; 
}

.cardsGroupLatestNews.iniciante .iniciante {
  display: flex; 
}

.cardsGroupLatestNews.avancado .avancado {
  display: flex; 
}

.cardsGroupLatestNews.estudante .estudante {
  display: flex; 
}


.imgCardLatestNews {
    border-radius: 8px;
    margin-bottom: 6px;
}

.titleCardLatestNews{
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 700;
    margin-bottom: 4px;
}

.fontCardLatestNews {
    color: #949494;
    font-size: 8px;
    font-family: Playfair Display;
    font-weight: 400;
}

.logInButton {
    display: none;
    width: 65px;
    height: 65px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 4px;
}

.logOutButton {
    display: none;
    width: 55px;
    height: 55px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 4px;
}

 /* ---------------- FIM INDEX 320PX--------------------- */

/* ---------------- ESTILO ASSET.HTML 320px---------------- */

.assetImageNoticia1{
    width: 305px;
    height: 281px;
    background-image: url('https://readytrainingonline.com/wp-content/uploads/2021/12/04.04.24-5-Factors-Business-Growth.jpg');
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    margin-bottom: 14px;
}

.titleAsset {
    color: #f8f8f8;
    font-weight: 700;
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 26px;   color: #f8f8f8;
    font-weight: 700;
    font-size: 16px;
    padding-left: 12px;
    padding-bottom: 26px;
}

.fontAsset {
    color: #949494;
    font-size: 12px;
    font-family: Playfair Display;
    font-weight: 400;
    margin-bottom: 32px;
}

.textAsset{
    margin-bottom: 32px;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px

}

/* ---------------- FIM ESTILO ASSET.HTML  ---------------- */

@media (min-width:768px) {
     /* ----------------INDEX 768PX--------------------- */
    
    .hotNews{
        display: flex;
        justify-content: center;
    }
    .cardHotNews {
        width: 647px;
        height: 289px;
    
    }
    .titleCardHotNews {
        color: #f8f8f8;
        font-weight: 700;
        font-size: 36px;
        padding-bottom: 4px;

    }
    
    .fontCardHotNews {
        display: block;
        color: #f8f8f8;
        padding-left: 12px;
        padding-bottom: 26px;
        font-weight: 100;
        font-size: 12px;
    }
    
    .lastestNews{
        display: flex;
        flex-direction: column;
        width: 100%;
   
    }
    .cardsGroupLatestNews{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        justify-content: center;


    }
    .cardLatestNews {
        width: 40%;
    }
     /* ---------------- FIM INDEX 768PX--------------------- */

    /* -----------ESTILO ASSET 768PX ------------- */

    .assetImageNoticia1{
        width: 647px;
        height: 546px;
        background-image: url('https://readytrainingonline.com/wp-content/uploads/2021/12/04.04.24-5-Factors-Business-Growth.jpg');
    }
    
    .titleAsset{
        font-size: 48px;
    }

    .textAsset{
        font-size: 36px;
        line-height: 48px;
    }


     /* ----------- FIM ESTILO ASSET 768PX ------------- */
}

@media (min-width:1024px){
  /* ---------------- INDEX 1024PX--------------------- */
  .cardLatestNews {
    width: 30%;
}
  /* ---------------- FIM INDEX 1024PX--------------------- */
}

@media (min-width:1366px) {
    /* ---------------- INDEX 1366PX--------------------- */
    .hotNews{
        display: flex;
        justify-content: start;
    }
    .cardInfoHotNews{
        display: flex;
        gap: 12px;
    }
    .cardHotNews {
        width: 870px;
        height: 400px;

    }
 
    .lastestNews {
        align-items: start;
        width: 100%;
        
    }

  
    .cardLatestNews{
        width: 23%
    }
 /* ---------------- FIM INDEX 1366PX--------------------- */
    /* -----------ESTILO ASSET 1366PX ------------- */

    .assetImageNoticia1{
        width: 1181px;
        height: 546px;
        background-image: url('https://readytrainingonline.com/wp-content/uploads/2021/12/04.04.24-5-Factors-Business-Growth.jpg');
    }
    
    .titleAsset{
        font-size: 48px;
    }

    .textAsset{
        font-size: 36px;
        line-height: 48px;
    }


     /* ----------- FIM ESTILO ASSET 1366PX ------------- */
}